img {
    pointer-events: none;
    width: auto;
    height: 80vh;
    
}

.map {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.handle {
    width: 100%;
    height: auto;
    z-index: -10;
}