.search{
    background: rgb(240, 237, 237);
    margin-bottom: 1px;
    font-family: "Roboto", sans-serif;

    width: 80%;
    padding: 0px 0px;
    color: #999da0; 
    border-style: hidden;
    border-radius: 20px ;
    border-color: #9c9a9af1 ;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em; 
    font-weight: bold;
    margin: 0 auto;
}
Input{
    background: rgb(240, 237, 237);
      margin-bottom: 1px;
      font-family: "Roboto", sans-serif;
  
      width: 80%;
      padding: 0;
      color: #303030; 
      border-style: hidden;
      border-radius: 20px ;
      border-color: #9c9a9af1 ;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 1em; 
      font-weight: bold;
    }
    .bar{
      padding: 7px 5px;
      outline: 0px solid #999da0;
    }
    Input::placeholder{
      
        color: #999da0; 
        font-weight: bold;
        font-size: 1em; 
        font-weight: normal;
      }
    .input-error{
      border: 1px solid red;
      color: red;
      background: rosybrown;
      }

      .btnBuscar{
        border-style: hidden;
        margin-right: 5px;
      }
      #box-search{
        list-style-type:none;
        background: rgb(240, 237, 237);
        max-width: 80vw;
        color: black;
        margin: 0 auto;
        border-radius: 20px;
        text-align: left;
        overflow: hidden;
        display: none;
        
    }
    #box-search .element{
      margin: auto;
        padding: 10px 0px;
        border-style: none;
    }
    